Repository hmcts/cui-ra, pull requests merged in 2025-04, with the labels that each got.

#675 Add CSP for google tag manager.
  src/main/modules/helmet/index.ts
Labels: ns:cui, prd:cui, rel:cui-ra-pr-675

#677 remove-from-values.aat.template.yaml and set in flux only
  charts/cui-ra/values.aat.template.yaml
Labels: ns:cui, prd:cui, aat/add-or-update, prod/no-changes, rel:cui-ra-pr-677

#679 CUIRA-389 setting IS_DEV default to true and remove from other places
  charts/cui-ra/Chart.yaml
  charts/cui-ra/values.preview.template.yaml
  charts/cui-ra/values.yaml
Labels: ns:cui, prd:cui, aat/add-or-update, prod/no-changes, rel:cui-ra-pr-679

#683 Fix is dev
  charts/cui-ra/Chart.yaml
  charts/cui-ra/values.yaml
Labels: ns:cui, prd:cui, enable_keep_helm, re:cui-ra-pr-683, rel:cui-ra-pr-683

#691 Update fortify client
  src/test/java/build.gradle
Labels: ns:cui, prd:cui, rel:cui-ra-pr-691
